{% extends "layout.html" %}
{% block title %}
TweetBar
{% endblock %}

{% block content %}
<h1 class = ' text-center my-5'> Welcome to TweetBar</h1>
<a class="btn btn-primary mb-5 mx-2" href="{% url 'tweet_create'%}">Create a tweet</a>
<div class= "flex-container row gap-5 mb-5 justify-content-between ">
{% for tweet in tweets %}
<div class="card p-3 border border-3 " style="width: 18rem;"> 
    {% if tweet.photo %}
    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="tweet_img">
    {% endif %}
<div class="card-body">
<h6 class = "card-title">{{tweet.user.username}}</h6>
<p class= "card-text">{{tweet.text}}</p>
{%if tweet.user == user%}
<a href="{% url 'tweet_edit' tweet.id %}" class= "btn btn-primary">Edit</a>
<a href="{% url 'tweet_delete' tweet.id%}" class= "btn btn-danger">Delete</a>
{%endif%}


</div>
</div>
{% endfor %}
</div>


{% endblock %}